@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

/* General */

body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    /* background-color: #c2e6e8; */
}

#root {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    padding-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

button,
button:active {
    background-color: #0122CF;
    border: none;
    width: 42px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    /* box-shadow: 0.2em 0.2em rgb(194, 91, 44);
    -webkit-box-shadow: 0.2em 0.2em rgb(194, 91, 44);
    -moz-box-shadow: 0.2em 0.2em rgb(194, 91, 44);   */
    box-shadow: 0.2em 0.2em rgb(83, 86, 188);
    -webkit-box-shadow: 0.2em 0.2em rgb(125, 149, 211);
    -moz-box-shadow: 0.2em 0.2em rgb(148, 144, 215); 
    color: white;
}

button i {
    color: white;
}

button:focus {
    translate: 0.2em 0.2em;
    box-shadow: 0.2em 0.2em rgb(83, 86, 188) inset;
    -webkit-box-shadow: 0.2em 0.2em rgb(125, 149, 211) inset;
    -moz-box-shadow: 0.2em 0.2em rgb(148, 144, 215) inset;
}

/* Clock Body */

.clock-container {
    background-color: #f7ebff; 
    width: 350px;
    border-radius: 20px;
    padding: 30px;
    /* box-shadow: 10px 10px sienna; */
    box-shadow: 10px 10px #7a6b9d;
}

/* Display + Stop/Start/Reset Controls */

#time-left {
    font-size: 70px;
    text-align: center;
    background-color: #67baa6;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px rgb(107, 146, 139) inset;
}

#display-controls {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#timer-label {
    font-size: 25px;
    text-align: center;
    padding-top: 2px;
    background-color: #67baa6;
    border-radius: 10px;
    height: 40px;
    flex: 2;
    box-shadow: 3px 3px rgb(107, 146, 139) inset;
}

#timer-ssr {
    flex: 1;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    flex-start: end;
}

/* Timer Length Controls */

.length-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.inc-dec-btn-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 140px;
    height:60px;
}

.break-container, 
.session-container {
    text-align: center;
    /*   display: inline-block; */
    border: 2px solid rgb(234,178,156);
    padding: 10px;
    border-radius: 10px;
    width: 48%;
}

.timer-length {
    font-size: 2em;
}

.break-container,
.inc-arrow {
    margin-right: 12px;
}