@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Pacifico|Oxygen);

body {
    /* background-color: #f0f0f0; */
}

p {
    margin: 0;
    font-family: Pacifico;
    position: relative;
    left: 7%;
    color: #dbdbdb;
    cursor: default;
    margin-bottom: 0.5rem;
}

.calculator {
    position: relative;
    margin: 1em auto;
    padding: 1em 0;
    display: block-inline;
    width: 300px;
    background-color: #0122CF;
    border-radius: 25px;
    box-shadow: 5px 5px 10px 3px #5c5c5c;
    font-family: 'Oxygen';
}

.calc-row {
    text-align: center;   
}

.calc-row div.screen {
    font-family: Droid Sans Mono;
    display: table;
    width: 79%;
    background-color: #d7d7d7;
    text-align: right;
    font-size: 2em;
    min-height: 1.2em;
    margin: 0 auto 1rem auto;
    padding-right: 0.5em;
    border: 1px solid #888;
    color: #333;
    cursor: default;
}

.calc-row div {
    text-align: center;
    display: inline-block;
    font-weight: bold;
    border: 1px solid #a8a8a8;
    background-color: #e9e9e9;
    padding: 10px 0;
    margin: 7px 5px;
    border-radius: 15px;
    box-shadow: 2px 2px 1px 1px #7c7c7c;
    width: 50px;
    cursor: pointer;
    user-select: none;
}

.calc-row div.zero {
    width: 112px;
}

.calc-row div.zero {
    margin-right: 5px;
}