body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.carculator {
    width: 100%;
    max-width: 400px;
    --button-size: min(20vw, 80px);
    --button-width: var(--button-size);
    --button-height: var(--button-size);

    display: grid;
    grid-template-areas:
        "result result result result"
        "ac plus-minus percent add"
        "number-7 number-8 number-9 subtract"
        "number-4 number-5 number-6 multiply"
        "number-1 number-2 number-3 divide"
        "number-0 number-0 dot equal";

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, var(--button-height));
    gap: 8px;

    box-shadow: -8px -8px 16px -10px rgba(255, 255, 255, 1),
        8px 8px 16px -10px rgba(0, 0, 0, 0.15);

    padding: min(6vw, 24px);
    border-radius: 20px;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;

    border-radius: calc(var(--button-height) / 2);
    font-size: min(6vw, 24px);
    font-weight: normal;
    color: #999;
    background: linear-gradient(
        135deg,
        rgba(230, 230, 230, 1) 0%,
        rgba(246, 246, 246, 1) 100%
    );
    box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1),
        4px 4px 10px -8px rgba(0, 0, 0, 0.3);
}

button:active {
    box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1) inset,
        4px 4px 10px -8px rgba(0, 0, 0, 0.3) inset;
}

.result {
    text-align: right;
    color: #666;
    font-size: min(12vw, 48px);
    padding: 0 min(5vw, 20px);
    line-height: var(--button-height);
}
